<div id="visible_spec">
  <div class="visible">
    Some text
  </div>
  <div class="hidden" style="display: none;">
    Some text
  </div>
</div>


<div class="id-spec-with" id="id_spec" />
<div class="id-spec-without" />


<div id="css_spec_with" class="css-spec-with" />
<div id="css_spec_without" />


<div id="has_css_spec_1" />
<div id="has_css_spec_2" class="css1" />
<div id="has_css_spec_3" class="css1 css2" />
